doctype html
html
  meta(name="viewport" content="width=device-width, initial-scale=1")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/javascripts/raphael-2.1.4.min.js")
    script(src="/javascripts/justgage.js")
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
  body
    block content